<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<div>
    <div th:fragment="footer">


        <footer class="footer-custom">

            &copy; 2021 Gym Booking App by Kristovski
            <span sec:authorize="isAuthenticated()">
                | You are logged as
                <span th:text="${#strings.contains(#authentication.principal.authorities, 'ROLE_ADMIN')} ? 'ADMIN ' : 'USER '"/>
                | <span sec:authentication="name">name@email.com</span>
                | <a th:href="@{/logout}">Sign Out</a>
            </span>

        </footer>


    </div>
</div>
</body>
</html>