<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <div th:fragment="navbar-css">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
              integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    </div>
</head>
<body>
<header th:fragment="navbar">

    <a href="#" th:href="@{/}" class="logo" alt="logo">
        <i class="fas fa-dumbbell"></i>
        Siłownia Club
    </a>
        <nav class="navbar">
        <ul class="nav_links">
            <li>
                <div sec:authorize="!isAuthenticated()">
                    <a class="register-button" href="#" th:href="@{/register}">Register</a>
                </div>
            </li>
            <li>
                <div sec:authorize="!isAuthenticated()">
                    <a class="login-button" href="#" th:href="@{/loginform}" id="nav-a">
                        <button id="loginBtn">Login</button>
                    </a>
                </div>
            </li>
            <li>
                <div  sec:authorize="isAuthenticated()">
                    <form action="logout" th:action="@{/logout}" method="post">
                        <button type="submit" id="logoutBtn">Logout</button>
                    </form>
                </div>
            </li>
        </ul>
    </nav>
</header>

</body>
</html>