@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html,body {
    height: 100%;

}

body{
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.full-height {
    height: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.sorticon {
    color: #72B01D;
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 310px;
}

table td {
    /*border: solid 1px #fab;*/
    width: 100px;
    word-wrap: break-word;
}


