body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.login-button {
    background-color: #007AFF;
    color: white;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 3px 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: .1em;
}

.login-button:hover {
    opacity: 80%;
}