@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #F3EFF5;
}

.sorticon{
    color: #72B01D;
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
    margin-right: auto;

}
