<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Register Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <div th:replace="/fragments/navbar :: navbar-css"/>
</head>
<body>
<div class="container">
    <div th:insert="/fragments/navbar :: navbar"></div>
<h1>Registration form</h1>
<form action="#" method="post" th:action="@{/register}" th:object="${user}">
  <input th:field="*{login}" placeholder="Login"/></br>
  <input th:field="*{firstName}" placeholder="First Name"/><br/>
  <input th:field="*{lastName}" placeholder="Last Name"/><br/>
  <input th:field="*{email}" type="email" placeholder="Email" /><br />
  <p th:errors="*{email}">Email errors</p>
  <input th:field="*{password}" type="password" placeholder="Password" /><br />
  <p th:errors="*{password}">Password errors</p>
  <input type="submit" value="Register" />
</form>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>